<div class="text-center mt-2 mb-2 bg bg-secondary text-light">
    <h1>Lista de autores</h1>
</div>

<a routerLink="/autores/formulario" class="btn btn-primary">Cadastrar</a>

<div *ngIf="erroNaRequisicao != ''" class="alert alert-danger mt-3">{{erroNaRequisicao}}</div>
<div *ngIf="mensagemSemUsuarioCadastro != ''" class="alert alert-info mt-3">{{mensagemSemUsuarioCadastro}}</div>
<div *ngIf="autorCadastradoComSucesso != ''" class="alert alert-success mt-3">{{autorCadastradoComSucesso}}</div>

<div *ngIf="erroNaRequisicao == '' && mensagemSemUsuarioCadastro == ''">
    <table class="table mt-3">
        <thead>
            <th>Nome</th>
            <th>Biografia</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let autor of autores">
                <td>{{autor.nome}}</td>
                <td>{{autor.biografia}}</td>
                <td><a routerLink="/autores/formulario/{{autor.id}}" class="btn btn-warning">Alterar</a></td>
            </tr>
        </tbody>
    </table>
</div>