<div class="text-center mt-2 mb-2 bg bg-secondary text-light">
    <h1 *ngIf="!id">Cadastrar livro</h1>
    <h1 *ngIf="id">Alterar livro</h1>
</div>

<div *ngIf="mensagemSemAutorCadastrado != ''" class="alert alert-info mt-3">{{mensagemSemAutorCadastrado}}</div>

<form [formGroup]="livroFormGroup" *ngIf="mensagemSemAutorCadastrado == ''">
    <div class="form-floating mb-3">
        <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="História sem fim">
        <div *ngIf="livroFormGroup.get('titulo')?.errors?.['required']" class="text-danger">O Título é obrigatório!</div>
        <label for="titulo">Título</label>
    </div>
    <div class="form-floating mb-3">
        <input formControlName="anoLancamento" type="text" class="form-control" id="anoLancamento" placeholder="2000">
        <div *ngIf="livroFormGroup.get('anoLancamento')?.errors?.['required']" class="text-danger">O Ano de Lançamento é obrigatório!</div>
        <label for="anoLancamento">Ano de Lançamento</label>
    </div>
    <select formControlName="autoresIds" class="form-select" id="autoresIds" multiple="multiple" size="10">
        <option value="0" disabled="disabled">Selecione os autores</option>
        <option *ngFor="let autor of autores" value="{{autor.id}}">{{autor.nome}}</option>
    </select>
    <div *ngIf="livroFormGroup.get('autoresIds')?.errors?.['required']" class="text-danger">Ao menos um autor é obriga!</div>
    <div *ngIf="erroNaRequisicao != ''" class="alert alert-danger mt-3">{{erroNaRequisicao}}</div>
    <div class="form-floating mt-2">
        <button *ngIf="!id" (click)="cadastrar()" [disabled]="livroFormGroup.invalid" type="button" class="btn btn-success">Cadastrar</button>
        <button *ngIf="id" (click)="alterar()" [disabled]="livroFormGroup.invalid" type="button" class="btn btn-success">Alterar</button>
        <button type="button" class="btn btn-secondary ms-2" routerLink="/livros">Cancelar</button>
    </div>
</form>