<div class="text-center mt-2 mb-2 bg bg-secondary text-light">
    <h1 *ngIf="!id">Cadastrar livro</h1>
    <h1 *ngIf="id">Alterar livro</h1>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="titulo" placeholder="História sem fim">
    <label for="titulo">Título</label>
</div>
<div class="form-floating mb-3">
    <input type="text" class="form-control" id="anoLancamento" placeholder="2000">
    <label for="anoLancamento">Ano de Lançamento</label>
</div>
<select class="form-select" id="autoresIds" multiple="multiple" size="10">
    <option value="0" disabled="disabled">Selecione os autores</option>
    <option value="1">Autor 1</option>
    <option value="2">Autor 2</option>
    <option value="3">Autor 3</option>
    <option value="4">Autor 4</option>
    <option value="5">Autor 5</option>
</select>
<div class="form-floating mt-2">
    <button *ngIf="!id" type="button" class="btn btn-success">Cadastrar</button>
    <button *ngIf="id" type="button" class="btn btn-success">Alterar</button>
    <button type="button" class="btn btn-secondary ms-2" routerLink="/livros">Cancelar</button>
</div>