<div class="text-center mt-2 mb-2 bg bg-secondary text-light">
    <h1>Lista de livros</h1>
</div>

<a routerLink="/livros/formulario" class="btn btn-primary">Cadastrar</a>
<div>
    <table class="table mt-3">
        <thead>
            <th>Título</th>
            <th>Ano de Lançamento</th>
            <th>Autores</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let livro of livros">
                <td>{{livro.id}}</td>
                <td>{{livro.anoLancamento}}</td>
                <td></td>
                <td>
                    <a routerLink="/livros/formulario/{{livro.id}}" class="btn btn-warning">Alterar</a>
                    <a (click)="abreModalParaExclusao(livro)" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#modal-remover-livro">
                        Remover
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="modal" tabindex="-1" id="modal-remover-livro">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remoção de Livro</h5>
                <button id="modal-remover-livro-botao-fechar" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Deseja remover o livro <strong>{{nomeLivroParaExclusao}}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="removeLivro()">Remover</button>
            </div>
        </div>
    </div>
</div>